.demopageview{
    height: 60vh;
    margin: 2rem auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d7d3d3;
    padding: 3rem;

}