.svg-icon {
  // display: block;
  width: 3rem;
  height: 3rem;
}

.header-icon-menu {
  // stroke-width: 0.25;
  fill: var(--pink);
  // stroke: #3330f9;
}

.header-icon-magnifying-glass {
  // stroke-width: 0.25;
  // stroke: #3330f9;
  fill: var(--grey-600);
}

.expressive-icon {
  width: 7rem;
  height: 7rem;

  &-all {
    stroke-width: 0.5;
    stroke: var(--cyan);
    fill: var(--grey-200);
  }
}

.footer-icon {
  width: 6rem;
  height: 4rem;

  .icon-youtube2 {
    fill: var(--white);
  }
  .icon-telegram {
    fill: var(--cyan);
  }
  .icon-facebook2 {
    fill: var(--blue-500);
  }

}
.footer-icon-contect {
  width: 4rem;
  height: 3rem;
    .icon-chat {
    fill: var(--cyan1);
  }
  .icon-phone {
    fill: var(--cyan1);
  }
  .icon-envelop {
    fill: var(--cyan1);
  }
}
